body {
  text-align: center;
  font-family: "Open Sans";
}

.container-fluid {
  padding: 7% 10%;
}

.divider {
  height: 2rem;
  background-color: #2b4865;
  border-width: 1px 0;
  box-shadow: 1px 2px 10px rgb(27, 27, 27) inset;
}

/* TITLE */
#title {
  color: #8fe3cf;
  text-align: center;

  font-size: 1.5rem;
  line-height: 1.5;
  background-color: #002b5b;
}
/* #title .container-fluid {
  padding-bottom: 6%;
} */

/* NavBar */
.navbar-brand {
  font-family: "Square Peg";
  font-size: 4rem;
}

.nav-item {
  padding-left: 18px;
  padding-right: 18px;
}

/* Description */
.pfp {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

/* Education */
#education {
  background-color: #89d8c5;
  color: #002b5b;
  text-align: center;
}

.edu-img {
  width: 15%;
}

.carousel-item {
  padding: 7% 1%;
}

.edu-textbox {
  padding-top: 3%;
}

/* Skills */
#skills {
  background-color: #002b5b;
  color: #8fe3cf;
}
